<template>
  <div>
    <p v-for="item in topics" :key="item.id"><span>{{ item.pseudo }}</span><br> <a v-bind:href="'/contact'+item.id"> {{ item.sujet }} </a></p>
  </div>
</template>

<script>
  export default{
      data(){
        return{
          topics: [
            {id: 0, pseudo: "Michel", sujet:  "[VueJS3/HTML] Problème VueJS sur ma page web"},
            {id: 1, pseudo: "David", sujet:  "[VueJS3/HTML] Comment on fait pour mettre du VueJS ?"},
            {id: 2, pseudo: "Kévin", sujet:  "[HTML/CSS] C'est quoi internet ?"}
            ]
        }
      }
  }
</script>

<style>

</style>
