<template>
  <div id="app">
    <ListCategorie
    />
    <ListQuote
      />
  </div>
</template>

<script>


import ListCategorie from '../components/ListCategorie.vue'
import ListQuote from '../components/ListQuote.vue'

export default {
  components: {
    ListCategorie,
    ListQuote
  }
}

</script>