<template>
  <div id="app">
    <Connection
    />
  </div>
</template>

<script>

import Connection from '../components/Connection.vue'

export default {
  name: 'app',
  components: {
    Connection,
  }
}
</script>

<style>
</style>