<template>
  <div class="sec form-container">
    <form @submit.prevent="login" class="input-group">
      <h2 id="title_connect">Please sign in</h2>
      <div v-if="error">{{ error }}</div>

      <div class="input-row">
        <label for="inputName" >Name</label>
        <input v-model="nom" type="text" id="inputName" placeholder="Name" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputFirstName" >First Name</label>
        <input v-model="prenom" type="text" id="inputFirstName" placeholder="Firstname" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputPseudo" >Pseudo</label>
        <input v-model="pseudo" type="text" id="inputPseudo" placeholder="Pseudo" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputEmail" >Email address</label>
        <input v-model="mail" type="email" id="inputEmail" placeholder="Email address" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputPassword" class="sr-only">Password</label>
        <input v-model="password" type="password" id="inputPassword" placeholder="Password" required>
      </div>

      <button class="btn-submit" type="submit">Sign in</button>
    </form>
  </div>
</template>

<script>
import {HTTP} from "../store/module/http_url";

export default {
  name: 'Connection',
  data () {
    return {
      nom: '',
      prenom: '',
      mail: '',
      pseudo: '',
      password: '',
      role: 0,
      error: false,
    }
  },
  methods: {
    login () {
      HTTP.post('api/utilisateur/new',{ nom: this.nom, prenom: this.prenom, pseudo: this.pseudo, mail: this.mail, password: this.password, role: this.role})
          .then(request => this.loginSuccessful(request))
          .catch(request => this.loginFailed(request))
    },
    loginSuccessful (req) {
      if (!req.data.token) {
        this.loginFailed()
        return
      }

      localStorage.token = req.data.token
      this.error = false

      this.$router.replace(this.$route.query.redirect || '/home')
    },
    loginFailed (r) {
      console.log(r);
      this.error = 'Login failed!'
      delete localStorage.token
    }
  }
}
</script>

<style scoped lang="scss">
.input-row{
  position:relative;
  margin-bottom:25px;
  label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#fff;
  }
  input , textarea{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:25px 0 5px 0;
    font-size:16px;
    color:#fff;
  }
  input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
  }
  input:focus ~ label, .input-row input:valid ~ label{
    top:-12px;
    font-size:12px;
  }
}

.input-group{
  width: 560px;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.45);
  border-radius:3px;
  padding:30px 60px;
  z-index: 6;
}
.btn-submit{
  border: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

#title_connect{
  color:#fff;
  margin: revert;
}
</style>