<template>
 <!-- <div>
    <div>
      <ul>
        <li v-for="item in topic" :key="item">{{ item.titre }}</li>
        <p class="error" v-if="errorMessage">{{ errors }}</p>
      </ul>
    </div>
  </div> -->
  <div class="sec">
    <h1>Topics</h1>
    <div class="list-topics">
      <div class="box-topic">
        <h3 class="topic">Question</h3>
        <span class="pseudo"><h3>User</h3></span>
      </div>
      <p v-for="item in topics" :key="item.id" class="box-topic">
        <a v-bind:href="'/contact'+item.id" class="topic"> {{ item.sujet }} </a>
        <span class="pseudo">{{ item.pseudo }}</span>
      </p>
    </div>
  </div>
</template>

<script>

// import {HTTP} from "../store/module/http_url";

export default {
  name: 'ListQuote',
  // data () {
  //   return {
  //     topic: [],
  //     errors: []
  //   }
  // },
  // created() {
  //   HTTP.get('api/topic')
  //       .then(response => {
  //         this.topic = response.data.topic
  //       })
  //       .catch(e => {
  //         this.errors = e
  //       })
  // },
  data(){
    return{
      topics: [
        {id: 0, pseudo: "Michel", sujet:  "[HTML] Problèmes sur ma page web je n'ai rien qui s'affiche, aidez-moi bande de naze !!!!!!!"},
        {id: 1, pseudo: "David", sujet:  "[VueJS3/HTML] Comment on fait pour mettre du VueJS dans son HTML ?"},
        {id: 2, pseudo: "Kévin", sujet:  "[HTML/CSS] URGENT C'est quoi internet ?"},
        {id: 10, pseudo: "Marco", sujet:  "[Twig/Symfony] Je n'arrive pas à accéder à mes instances, comment pourrais-je faire ? Merci !"},
        {id: 11, pseudo: "Didier", sujet:  "[None] Easy le web qui veut de l'aide les noobs ?"},
        {id: 21, pseudo: "Gérard", sujet:  "[PHP] Dois-je mettre 20 à mes étudiants pour allez plus vite dans mes corrections ?"},
        {id: 4, pseudo: "Fabrice", sujet:  "[ES6] Problème sur ma fonction bidule qui ne retourne rien"},
        {id: 14, pseudo: "Pierre", sujet:  "[XML] J'ai lancer un caillou dans l'eau, je l'attends encore"},
        {id: 24, pseudo: "John", sujet:  "[Web] Wow this website is amazing! "}
      ]
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.list-topics{
  border:solid 2px;
  background-color: rgba(3,3,3,0.40);
  padding: 50px 30px;
  display: inline-block;
  width: 65%;
}

.box-topic{
  padding: 15px;
  border-bottom: 1px solid #555;
  display: flex;
}

.topic{
  margin-inline-end: auto;
  color: limegreen;
  text-decoration: none;
}

.pseudo{
  color: #fff;

}

h1{
  color: #fff;
}
</style>
